{
  "root": true,
  "ignorePatterns": ["**.js", "**/node_modules/**"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/ban-ts-comment": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-explicit-any": ["error"],
    "no-console": "error",
    "array-callback-return": ["error"],
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "always",
        "prev": "*",
        "next": [
          "return",
          "if",
          "multiline-const",
          "function",
          "multiline-expression",
          "multiline-let",
          "block-like"
        ]
      },
      {
        "blankLine": "always",
        "prev": ["function"],
        "next": "*"
      }
    ]
  }
}
